.authpage_container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    background-color: #f5f5f5;
    padding: 20px;
  }
  
  .authpage_card {
    background: #ffffff;
    padding: 30px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .authpage_title {
    text-align: center;
    /* margin-bottom: 20px; */
    font-size: 24px;
    font-weight: 700;
    color: #333;
  }
  
  .authpage_form {
    display: flex;
    flex-direction: column;
  }
  
  .authpage_input {
    margin-bottom: 15px;
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
  }
  
  .authpage_radio_group {
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
  }
  
  .authpage_radio_label {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    color: #555;
  }
  
  .authpage_radio_input {
    cursor: pointer;
  }
  
  .authpage_button {
    padding: 12px;
    background-color: #2354f2;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .authpage_button:hover {
    background-color: #2354f2;
  }
  
  .authpage_text {
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
    color: #777;
  }
  
  .authpage_link {
    color: #007bff;
    cursor: pointer;
    text-decoration: underline;
  }
  
  .authpage_link:hover {
    text-decoration: none;
  }
  
  .checkmark__circle{
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #7ac142;
    fill: none;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards
}
.checkmark{
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #fff;
    stroke-miterlimit: 10;
    margin: 10% auto;
    box-shadow: inset 0px 0px 0px #7ac142;
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
    animation-delay: 1s;
}
.checkmark__check{
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
    animation-delay: 1s;
}
@keyframes stroke{100%
  {stroke-dashoffset: 0}
}
@keyframes scale{0%, 100%
  {transform: none}
  50%
  {transform: scale3d(1.1, 1.1, 1)}
}
@keyframes fill {100%
  {box-shadow: inset 0px 0px 0px 30px #7ac142}
}
  /* Responsive */
  @media (max-width: 500px) {
    .authpage_card {
      padding: 20px;
    }
  
    .authpage_title {
      font-size: 20px;
    }
  
    .authpage_button {
      font-size: 14px;
    }
  }
  